<%-include('../layout/begin.ejs') %>
<%-include('../layout/nav.ejs') %>
    <h1>Product Detail</h1>
    <div class="card text-center">
        <div class="card-header ">
                <h2><%=product.name%></h2>
        </div>
        <img class="card-img-top" src="/img/book.jpg" alt="Card image cap"  />
        <div class="card-body">
          <h5 class="card-title">$<%=product.price%></h5>
          <p class="card-text"><%=product.description %></p>
           <a href="#<%=product.id%>"" class="btn btn-success">Add to Cart</a>
        </div>
</div>
<%-include('../layout/end.ejs') %>