<%-include('../layout/begin.ejs') %>
<%-include('../layout/nav.ejs') %>
    <h1>Products</h1>
    <div class="card-deck">
            <% if(products.length>0) {%>
                <div class="grid">
            <% for( let prod of products) { %>
                <div class="card text-center" style="width: 18rem;">
                        <div class="card-header ">
                                <h4><%=prod.name%></h4>
                        </div>
                        <img class="card-img-top" src="/img/book.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$<%=prod.price%></h5>
                          <p class="card-text"><%=prod.description %></p>
                          <a href="/products/<%=prod.id%>"" class="btn btn-warning">Details</a>
                          <form action="/cart" method="POST" style="display:inline" >
                                <button class="btn btn-success" type="submit">Add to Cart</button>
                                <input type="hidden" name="productId" value="<%= prod.id %>" />
                                <input type="hidden" name="quantity" value="1" />
                            </form>
                        </div>
                </div>
                <%}%>
        </div>
        <% }  else {%>
            <h2> No producs found</h2>
          <%}%>
        </div>
<%-include('../layout/end.ejs') %>