<%-include('../layout/begin.ejs') %>
<%-include('../layout/nav.ejs') %>
    <h1>Product Detail</h1>
    <div class="card text-center">
        <div class="card-header ">
                <h2><%=product.name%></h2>
        </div>
        <img class="card-img-top" src="/img/book.jpg" alt="Card image cap"  />
        <div class="card-body">
          <h5 class="card-title">$<%=product.price%></h5>
          <p class="card-text"><%=product.description %></p>
          <form action="/cart" method="POST">
            <button class="btn btn-success" type="submit">Add to Cart</button>
            <input type="hidden" name="productId" value="<%= product.id %>" />
            <input type="hidden" name="quantity" value="1" />
        </form>
        </div>
</div>
<%-include('../layout/end.ejs') %>